body{
    background-image: linear-gradient(rgb(239, 239, 239),rgb(109, 39, 239));
    height: 100vh;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.logo{
    display: block;
    margin: auto;
    width: 55px;
    height: 55px;
}


.container{
    max-width: 925px;
    margin: auto;
    background-image: linear-gradient(black,skyblue,khaki, red);
    height:55vh;
    overflow-y:auto;
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    padding:10px;

}

.message{
    background-image: linear-gradient(khaki, wheat);
    width: 24%;
    padding: 8px;
    margin: 17px 3px;
    border: 2px solid black;
    border-radius: 19px;
}

.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}

#send-container{
    max-width: 985px;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
}

#messageInp{
    width: 80%;
    border: 2px solid red;
    border-radius:6px;
    height:34px;
}
.btn{
    border: 2px solid red;
    border-radius:6px;
    height:34px;
    margin-top: 1px;
    cursor: pointer;
    width: 9%;
}